<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1>View Student</h1>
    <p>{{ @student['first'] }} {{ @student['last']}}</p>
    <p>{{ @student['sid'] }}</p>
    <p>{{ @student['gpa'] }}</p>
    <check if="{{ @student['gpa'] > 2.0 }}">
        <true><p>Passing</p></true>
        <false><p>Failing</p></false>
    </check>
</body>
</html>